@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://use.typekit.net/iry6ryc.css");
@import url("https://use.typekit.net/iry6ryc.css");
:root {
  --clr-pri: #b43518;
  --clr-sec: #d16c35;
  --clr-ter: #fbb020;
  --clr-bg: rgb(249, 247, 233);
  --clr-acc: hotpink;
  

  --sp-xs: 0.5rem;
  --sp-s: 1rem;
  --sp-m: 2rem;
  --sp-l: 4rem;
  --sp-xl: 8rem;
  --sp-xxl: 12rem;

  --ff-pri: "milka", sans-serif;
  --ff-sec: "Heebo",sans-serif;
  --ff-ter: "ibm-plex-mono", sans-serif;

  --fs-xs: 0.8rem;
  --fs-s: 1rem;
  --fs-m: 1.5rem;
  --fs-l: 2.5rem;
  --fs-xl: 4rem;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.body {
  font-family: var(--ff-ter);
}

body{
  background-color: var(--clr-bg);
}
p {
  line-height: 1.4;
  max-width: 62ch;
}
img {
  max-width: 100%;
}


.button{
  font-family: var(--ff-sec);
  color: var(--clr-bg);
}

.button:hover{
  color: var(--clr-ter);
  transform: scale(1.1);
}

.button:active{
  transform: scale(0.98);
  transform: translateY(4px);
  transform: translateX(4px);
}

h1 {
  font-family: "milka";
  font-weight: normal;
  color: var(--clr-ter);
  text-shadow: 2px 2px var(--clr-pri);
}

h2{
  font-family: var(--ff-sec);
  font-weight: bold;
  color: var(--clr-ter);
}

/* ?Header nav */
header nav {
  background-color: var(--clr-acc);
  padding: var(--sp-s);
  position: fixed;
  inset: 0 0 auto 0;
}
header nav ul {
  display: flex;
  gap: var(--sp-s);
}
li:first-child {
  margin-right: auto;
}
/* ?main */
section:first-child {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: auto 1fr auto auto; */
  grid-gap: var(--sp-s);
  align-items: end;
  padding-top: 10vh;
  padding-bottom: var(--sp-m);
  min-height: 100vh;
}

.hero h1 {
  order: -2;
}
.hero__img {
  order: -1;
  max-height: 50vh;
  justify-self: center;
}
section:first-child p {
  max-width: 26ch;
}

main section {
  padding-inline: var(--sp-s);
  padding-block: var(--sp-m);
  max-width: 1440px;
  margin-inline: auto;
}

.primary-btn {
  padding-block: var(--sp-s);
  width: 100%;
  background-color: var(--clr-sec);
  text-align: center;
}
.grid2,
.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: var(--sp-m);
}
.genres {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: var(--sp-s);
}

.genres li {
  text-align: center;
  background-color: var(--clr-sec);
  width: 100%;
  border-radius: 1rem;
  background-color: var(--clr-pri);

}
.genres li a {
  padding-block: var(--sp-s);
  width: 100%;
  height: 100%;
  display: inline-block;
}
.genres li:first-child {
  margin-right: 0;
}
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: var(--sp-m);
  justify-items: center;
}
.movies h2 {
  grid-column: 1/-1;
}
.movie__link {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto auto 1fr;
  grid-gap: var(--sp-s);
}
.movie__link > img {
  grid-column: 1/2;
  grid-row: 1/-1;
}
section.hero__genres {
  grid-template-rows: auto 1fr;
}

/* ?Genre Page */
/* .hero__genre {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--sp-m);
} */

/* ?Footer */
footer {
  background-color: var(--clr-pri);
}
/* !Media Queries */
/* !Media Queries */
/* !Media Queries */
/* !Media Queries */
/* !Media Queries */
/* !Media Queries */
/* !Media Queries */

@media only screen and (min-width: 500px) {
  /* ?main */
  section:first-child {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto 2fr;
    min-height: 60vh;
  }
  .hero > h1 {
    margin-top: 0;
    grid-row: 2/3;
  }
  .hero p {
    grid-row: 3/4;
  }
  .hero__img {
    min-height: 100%;
    /* aspect-ratio: 4/5; */
    object-fit: contain;
    grid-column: 2/-1;
    grid-row: 1/-1;
    align-self: center;
  }
  .primary-btn {
    width: auto;
    padding-inline: var(--sp-l);
  }
  .hero .primary-btn {
    margin-top: var(--sp-m);
    align-self: start;
    justify-self: start;
    grid-row: 4/-1;
  }
  section:first-child p {
    max-width: 40ch;
  }
  section {
    padding-inline: var(--sp-m);
    padding-block: var(--sp-l);
  }
  .grid2 {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto 1fr;
    grid-gap: var(--sp-m);
  }
  .grid2 > img {
    grid-column: 2/-1;
    grid-row: 1/-1;
  }
  .genres {
    display: grid;
  }
  .hero__genre img {
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  section.hero__genres {
    grid-template-rows: auto 1fr;
  }
  .hero__genres h2 {
    align-self: center;
  }
}
@media only screen and (min-width: 900px) {
  /* ?main */
  section:first-child {
    min-height: 100vh;
  }

  .hero .primary-btn {
    margin-top: var(--sp-l);
  }
}


/* HOMEPAGE */

main {
  margin: 0px 10rem 0px 10rem;
}

h1 {
  font-size: 4rem;
  text-shadow: 4px 4px black;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.subheading {
  font-family: var(--ff-ter);
}

.primary-btn {
  font-family: var(--ff-sec);
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--clr-bg);
  border-radius: 1rem;
}

@media only screen and (max-width: 650px) {

    main {
      margin: 0 5rem 0 5rem;
    }
}